body {
  background-color: #EEEEEE;
  color: #4C4C4C;
  font-family: 'Libre Baskerville', 'Lora', serif;
}

p {
  margin: 1.7em 0 1.7em 0;
}

h4 {
  font-style: italic;
  text-align: center;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.hidden {
  display: none;
}

.center img {
  margin: auto;
}

.card {
  margin: 0 0 .6em 0;
  border-radius: .4em;
}

.card .card-content {
  padding: 10px 20px;
}

.parallax-container {
  height: 32em;
}

.parallax-container .caption {
  position: relative;
  top: 96%;
}

.lead {
  text-align: center;
  font-size: 2em;
  margin: 0 0 2.6rem 0;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  /*font-style: italic;*/
}

strong {
  font-weight: 900;
}

@media only screen and (min-device-width: 600px) {
  /* Image carousel */
  .slider {
    height: 506px !important;
  }

  .slider .slides {
    height: 460px !important;
  }
}

.slider .slides li {
  margin: 0;
}

.slider .slides li .caption {
  width: 80%;
  font-size: .85em;
  top: 94.5%;
  left: 20%;
}

.materialboxed-caption {
  width: 87.5%;
  position: relative;
  top: -1.4em;
}

.caption .content {
  color: #252525;
  background-color: #B3B3B3;
  opacity: .45;
  padding: .1em .7em;
  font-size: .8em;
}

.caption .content.bright-content {
  opacity: .7;
}

.slider .indicators {
  display: none;
}

/* OCC stuff */

.main-section {
  padding: 0 5em;
}

footer.page-footer {
  margin: 0;
}

.dropdown-content {
  width: 16rem !important;
}

nav {
  filter: alpha(opacity=90);
  opacity: 0.90;
  position: fixed;
  z-index: 10;
}

nav .brand-logo {
  margin-left: .5em;
}

nav .brand-logo, nav ul a {
  color: #4C4C4C;
}

nav li {
  margin: 0;
}

nav ul li ul li a {
  float: none; 
  display: block; 
  overflow: hidden; 
}

#submenu-stack {
  display: block; 
  float: none; 
}

nav li a:hover {
  text-decoration: none;
}

nav .dropdown-items {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 12px; 
  overflow: hidden; 
}

nav .dropdown-buttons:hover .dropdown-items {
  display: block;
}

.sub-dropdown-items {
  display: none;
  position: relative; 
}

#submenu-stack:hover .sub-dropdown-items {
  display: block;
  position: absolute; 
  left: 100%;
  top: 0px;
}

p {
  font-size: 1.1rem;
}

.bold {
  font-weight: bold;
}

.first-p {
  font-size: 1.1rem;
}

.first-p::first-line {
  font-size: 1.3rem;
  color: #424242 !important;
}

.first-p::first-letter {
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 2rem;
  margin-right: -.2rem;
  vertical-align: middle;
  font-weight: normal;
  margin-left: -1.2rem;
}


h1 {
  text-align: center;
  margin-top: .2em;
  font-size: 4.2rem !important;}

h2 {
  font-size: 2.1rem;
  font-style: italic;
  margin-top: 3rem;
}

li {
  font-size: 1.3rem;
  margin: 1.5rem 0;
}

.btn {
  padding: 0 .5rem;
  font-size: .8rem;
  margin: .3em;
  text-transform: none;
}

.body-link {
  font-style: italic;
  font-size: 1.1rem;
}

.secondary-card .card-title {
  font-size: 1.3rem;
}

a:hover {
  text-decoration: underline;
}

a.btn {
  font-size: 1.3rem;
  font-style: italic;
  text-transform: none;
}

a.btn:hover {
  text-decoration: none;
}

.bottom-appeal .btn {
  padding: 0 3rem;
  margin: 2em 0 3em 0;
}



/* Index page */

.index-page h3 {
  text-align: center;
  font-size: 2em;
  margin: 0 0 2.6rem 0;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.index-page a {
  color: #607d8b;
  font-style: italic;
}

/* Summer Seminar page */

.summer-seminar-page {
  padding-bottom: 3em;
}

.summer-seminar-page h2,
.summer-seminar-page h3 {
  text-align: center;
}

.summer-seminar-page h2 {
  font-size: 2.4rem;
}

.summer-seminar-page h3 {
  font-size: 2rem;
  padding-top: 2rem;
}

.summer-seminar-page li {
  font-size: 1rem;
  margin: 1rem;
}

.summer-seminar-page .faculty .col{
  text-align: center;
  margin-bottom: 15px;
}


/* FAQ page */

.faq-page {
  padding-bottom: 3em;
}

.faq-page h3 {
  margin-top: 2.5em;
  font-size: 1.4em;
  font-style: italic;
}

.faq-page a {
  color: #607d8b;
  font-style: italic;
}


/* Team page */

ul.positions {
  width: 45%;
  margin: auto;
  text-align: center;
}

ul.positions li {
  margin: 1.5rem 0;
}

h4.collaborators {
  font-style: normal;
  text-align: center;
  margin-top: 1rem;
}

h5.collaborators {
  text-align: center;
}

.team-nav {
  margin-top: 1rem;
}

.team-nav li {
  cursor: pointer;
  font-size: 1.5rem;
}

.team-nav li:hover {
  text-decoration: underline;
}

.team-member {
  font-size: 1.1em;
  font-style:italic;
  font-weight: bold;
}

.team-members li {
  font-size: 1.1em;
}

@media all and (max-width: 600px) {
  h4.collaborators {
    margin-top: 2rem;
  }

  .team-nav {
    text-align: center;
    margin: 0;
    margin-bottom: 1.2rem;
  }

  .team-nav li {
    display: inline-block;
    font-size: 1.4rem;
    margin: .4rem 0;
  }

  .team-nav li::after {
    content: " • ";
  }

  .team-nav li:last-child::after {
    content: "";
  }
}


/* Blog */
.blog-page h1 {
  font-size: 3.2rem !important;
}

.blog-page a h2 {
  font-style: normal;
}

.blog-post h2 {
  font-style: normal;
  font-size: 3rem;
}

.blog-post.blog-post-excerpt h2 {
  font-size: 2.1rem;
}

.blog-post h3 {
  font-size: 2.5rem;
  line-height: 130%;
}
.blog-post h4 {
  font-size: 2rem;
  font-style: normal;
  text-align: left;
}

.blog-post ul {
  /* doesn't work for some reason
  list-style-type: bullet !important;*/
}

.blog-post ul li {
  font-size: 1.1rem;
}

.blog-post ul li::before {
  content: '\2022  ';
}

.blog-post-excerpt:first-child {
  border-top: none;
}

.blog-post-excerpt {
  border-top: .1em solid #cccccc;
  margin: 2em 0;
}

.blog-post img {
  max-height: 60rem;
  max-width: 100%;
}



/* FAQ page */
.faq-question {
  margin-bottom: 2.5em;
}

.faq-question h3 {
  font-size: 1.4em;
  font-style: italic;
}

/* Contribute page */

.main-section.contribute-page {
  padding: 0 5em 5em;
}

.main-section.contribute-page h1 {
  font-size: 3.8rem;
}

.main-section.contribute-page h2 {
  font-size: 1.8rem;
}

.main-section.contribute-page blockquote {
  border: 0;
  font-style: italic;
  padding-left: 2rem;
}


/* Contact Us */
iframe.google-form {
  width: 100%;
  height: 76em;
  margin-top: 0px;
  padding-top: 50px;
}

/* Styles the top banner on the homepage/ pages  */
.homepage-banner-top {
  text-align: center; 
  color: #fff !important; 
  background-color: #607C83; 
  padding-top: 1px; 
  padding-bottom: 1px; 
  margin-top: -45px; 
}

.homepage-banner-top a {
 color: #fff;  
}

.homepage-banner-top a:hover {
 color: #00ffff;  
}

.homepage-banner-top-2 {
  text-align: center; 
  color: #fff !important; 
  background-color: #0099ff; 
  padding-top: 1px; 
  padding-bottom: 1px; 
}

.homepage-banner-top-2 a {
 color: #fff;  
}

.homepage-banner-top-2 a:hover {
 color: #00ffff;  
}

/* For mobile */

@media all and (max-width: 600px) {
  nav .brand-logo {
    font-size: 1.2em;
  }

  nav i.material-icons {
    margin-top: .4em;
  }

  .btn {
    height: auto;
    display: inline-block !important;
  }

  iframe.google-form {
    height: 80em;
    margin-top: 0;
  }

  .main-section {
    padding: 0 1.2em;
  }

  .main-section.contact-us-page {
    padding: 0;
  }

  h1 {
    font-size: 2.8rem !important;
  }

  .lead {
    font-size: 1.5em;
  }
}
