---
layout: default
published: true
sitemap:
  priority: 0.9
---


{% include slider.html photos=site.data.images.front_page.top %}
<div><p> Read about Outer Coast in the <a href="https://www.nytimes.com/2019/06/08/opinion/sunday/college-anti-college-mainstream-universities.html">New York Times</a> </p></div>

<div class="main-section index-page">
  <div class="container">

    {% capture my-include %}{% include index.md %}{% endcapture %}
    {{ my-include | markdownify }}


  </div>
</div>

{% include img-parallax.html image=site.data.images.front_page.footer %}
