---
layout: default
published: true
sitemap:
  priority: 0.9
---


{% include slider.html photos=site.data.images.front_page.top %}
<div class="row-announcement">
  <p align="center" class="announcement-banner">
  {% capture my-include %}{% include announcement.md %}{% endcapture %}
    {{ my-include | markdownify }}
  </p>
</div>
<div class="row">
  <a href="http://outercoast.org/summer/apply/" target="_blank"><div class="col s12 m4 homepage-banner-top"><p>Click to Apply to the Summer Seminar</p></div></a>
  <a href="http://outercoast.org/year/" target="_blank"><div class="col s12 m4 homepage-banner-top-second"><p>Click to Apply to the Outer Coast Year</p></div></a>
  <a href="https://www.nytimes.com/2019/06/08/opinion/sunday/college-anti-college-mainstream-universities.html" target="_blank"><div class="col s12 m4 homepage-banner-top-third"><p>Read about Outer Coast in <em><u>The New York Times</u></em></p></div></a>
    </div>

<div class="main-section index-page">
  <div class="container">

    {% capture my-include %}{% include index.md %}{% endcapture %}
    {{ my-include | markdownify }}


  </div>
</div>

{% include img-parallax.html image=site.data.images.front_page.footer %}
