---
layout: default
title: Overview
permalink: /overview.html
---

{% include slider.html photos=site.data.images.faq_page.top %}

<div class="row">
  <a href="https://fs29.formsite.com/Gd7elL/jd4ednm4wy/index.html" target="_blank"><div class="col s12 m3 homepage-banner-top"><p>Summer Seminar 2020 New Student Application</p></div></a>
  <a href="https://fs29.formsite.com/Gd7elL/abmylds10t/index.html" target="_blank"><div class="col s12 m3 homepage-banner-top-second"><p>Summer Seminar 2020 Returning Student Application</p></div></a>
  <a href="https://docs.google.com/document/d/1a_-kw80xP3ax4OacgbJ-fstg-K05MvzDl8csFevcvLA/edit" target="_blank"><div class="col s12 m3 homepage-banner-top"><p>Summer Seminar 2020 Faculty Application</p></div></a>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSeX9CXEx3PxWkpPzY53hC3xDiTQr29Yt-wdSNFVgIaso50bVA/viewform" target="_blank"><div class="col s12 m3 homepage-banner-top-second"><p>Nominate a Student for the Summer Seminar Here</p></div></a>
    </div>

<div class="main-section summer-seminar-page">
  <div class="container">

    {% capture my-include %}{% include overview.md %}{% endcapture %}
    {{ my-include | markdownify }}

  </div>
</div>
