---
layout: default
title: Overview
permalink: /summer/
---

{% include slider.html photos=site.data.images.faq_page.top %}

<!-- hide application banner for now
  <div class="row">
    <a href="https://fs29.formsite.com/Gd7elL/jd4ednm4wy/index.html" target="_blank"><div class="col s12 m4 homepage-banner-top"><p>Summer Seminar 2020 New Student Application</p></div></a>
    <a href="https://fs29.formsite.com/Gd7elL/abmylds10t/index.html" target="_blank"><div class="col s12 m4 homepage-banner-top-second"><p>Summer Seminar 2020 Returning Student Application</p></div></a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeX9CXEx3PxWkpPzY53hC3xDiTQr29Yt-wdSNFVgIaso50bVA/viewform" target="_blank"><div class="col s12 m4 homepage-banner-top"><p>Nominate a Student for the Summer Seminar Here</p></div></a>
      </div>

end hide --> 

<div class="main-section summer-seminar-page">
  <div class="container">

    {% capture my-include %}{% include overview.md %}{% endcapture %}
    {{ my-include | markdownify }}

  </div>
</div>
