---
layout: default
title: Nominate
permalink: /summer/nominate/
---

{% include slider.html photos=site.data.images.faq_page.top %}
<div class="row-announcement">
  <p align="center" class="announcement-banner">COVID-19 (coronavirus) is in our communities and on our minds. We here at Outer Coast hope you and your loved ones are safe and healthy. We are monitoring COVID-19 developments closely and working to understand the implications for future Outer Coast programs. <strong>At this point, we plan to run the Summer Seminar as scheduled</strong>, and if there are any updates to our plans, we will share them here.</p>
</div>
<div class="main-section summer-seminar-page">
  <div class="container">

    {% capture my-include %}{% include summer-nominate.md %}{% endcapture %}
    {{ my-include | markdownify }}
    <div> <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfc8_jA_PJ8dvwt_Z-c8Gi7_W4tstT_k_86DaGwckfNidafgQ/viewform?embedded=true" width="100%" height="2530" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></div>

  </div>
</div>
