---
layout: default
title: Apply to the Outer Coast Summer Seminar
permalink: /summer/apply/
---

{% include slider.html photos=site.data.images.faq_page.top %}
<div class="row-announcement">
  <p align="center" class="announcement-banner">COVID-19 (coronavirus) is in our communities and on our minds. We here at Outer Coast hope you and your loved ones are safe and healthy. We are monitoring COVID-19 developments closely and working to understand the implications for future Outer Coast programs. <strong>At this point, we plan to run the Summer Seminar as scheduled</strong>, and if there are any updates to our plans, we will share them here.</p>
</div>
<div class="row">
  <a href="https://fs29.formsite.com/Gd7elL/jd4ednm4wy/index.html" target="_blank"><div class="col s12 m6 homepage-banner-top"><p>Summer Seminar 2020 New Student Application</p></div></a>
  <a href="https://fs29.formsite.com/Gd7elL/abmylds10t/index.html" target="_blank"><div class="col s12 m6 homepage-banner-top-second"><p>Summer Seminar 2020 Returning Student Application</p></div></a>
    </div>

<div class="main-section summer-seminar-page">
  <div class="container">

    {% capture my-include %}{% include summer-apply.md %}{% endcapture %}
    {{ my-include | markdownify }}

  </div>
</div>
