---
layout: default
title: Apply to the Outer Coast Summer Seminar
permalink: /summer/apply/
---

{% include slider.html photos=site.data.images.faq_page.top %}

<!-- hide application banner for now
     
    <div class="row">
      <a href="https://fs29.formsite.com/Gd7elL/jd4ednm4wy/index.html" target="_blank"><div class="col s12 m6 homepage-banner-top"><p>Summer Seminar 2020 New Student Application</p></div></a>
      <a href="https://fs29.formsite.com/Gd7elL/abmylds10t/index.html" target="_blank"><div class="col s12 m6 homepage-banner-top-second"><p>Summer Seminar 2020 Returning Student Application</p></div></a>
        </div>

end hide banner-->

<div class="main-section summer-seminar-page">
     <h1 style="text-align:center;">Apply</h1>
      <form>
         <button type="submit" formaction="https://fs29.formsite.com/Gd7elL/jo7itq2y4b/index.html" class="btn-2">Click here to apply</button>
      </form>
      <form>
         <button type="submit" formaction="https://airtable.com/shrfaAnBNcffMwWc2" class="btn-2">Click here to request information</button>
      </form>
     
  <div class="container">

    {% capture my-include %}{% include summer-apply.md %}{% endcapture %}
    {{ my-include | markdownify }}

  </div>
</div>
