---
layout: default
title: Nominate
permalink: /summer/nominate/
---

{% include slider.html photos=site.data.images.faq_page.top %}
<div class="row-announcement announcement-banner" align="center">
  {% capture my-include %}{% include announcement.md %}{% endcapture %}
  {{ my-include | markdownify }}
</div>

<div class="main-section summer-seminar-page">
  
  <h1 style="text-align:center;">Nominate a Student</h1>
      <form>
         <button type="submit" formaction="https://airtable.com/shrlNAryEF6eGLGK7" class="btn-2">Click here to nominate a student</button>
      </form>
  
  <div class="container">

    {% capture my-include %}{% include summer-nominate.md %}{% endcapture %}
    {{ my-include | markdownify }}
    
</div>

