---
layout: default
title: Test
published: true
permalink: /test/
sitemap:
  priority: 1.0
---


{% include slider.html photos=site.data.images.faq_page.top %}

<div class="main-section summer-seminar-page">
  <div class="container">

    {% capture my-include %}{% include nominate.md %}{% endcapture %}
    {{ my-include | markdownify }}
	  
	 <div class="social"> 
		 <div style="max-width:15px;display:inline;>
			     <a href="facebook.com">{% include Facebook-f_Logo-Blue-Logo.wine.svg %}</a>
						   </div>
						   <div style="max-width:15px;display:inline;>
			     <a href="facebook.com">{% include Facebook-f_Logo-Blue-Logo.wine.svg %}</a>
						   </div>
	  </div>
	  

  </div>
</div>
