---
layout: default
title: Nominate a Student for the Outer Coast Year
permalink: /year/nominate/
---

{% include slider.html photos=site.data.images.year_page.top %}
<div class="row-announcement">
  <h2 align="center" class="announcement-banner">COVID-19 (coronavirus) is in our communities and on our minds. We here at Outer Coast hope you and your loved ones are safe and healthy. We are monitoring COVID-19 developments closely and working to understand the implications for future Outer Coast programs. At this point, we plan to run the Summer Seminar as scheduled, and if there are any updates to our plans, we will share them here.</h2>
</div>
<div class="main-section summer-seminar-page">
  <div class="container">

    {% capture my-include %}{% include year-nominate.md %}{% endcapture %}
    {{ my-include | markdownify }}
    <div><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdlgg2cjrVCUADQl3FHmBxdR1urrUAtzzGH6t0tcIxD6DPNIg/viewform?embedded=true" width="100%" height="2373" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></div>
  </div>
</div>
