---
layout: default
title: Nominate a Student for the Outer Coast Year
permalink: /year/nominate/
---

{% include slider.html photos=site.data.images.faq_page.top %}
<div class="homepage-banner-top"><p><a href="https://docs.google.com/document/d/10JBcUOkhH6IzoNBpFEAw6tYNwnBYerS5b5i2GMl1rEU/edit?usp=sharing"></a>Outer Coast Year 2020-21 Faculty Application</p></div>
<div class="homepage-banner-top" id="lighter-blue-banner"><p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdlgg2cjrVCUADQl3FHmBxdR1urrUAtzzGH6t0tcIxD6DPNIg/viewform"></a>Nominate a Student for the Year Here</p></div>
<div class="main-section summer-seminar-page">
  <div class="container">

    {% capture my-include %}{% include year-nominate.md %}{% endcapture %}
    {{ my-include | markdownify }}
    <div><p>iframe goes here!</p></div>
  </div>
</div>
