---
layout: default
title: Apply to the Outer Coast Year
permalink: /year/apply/
---

{% include slider.html photos=site.data.images.year_page.top %}

<div class="main-section summer-seminar-page">
         <h1 style="text-align:center;">Apply</h1>
<form>
         <button type="submit" formaction="https://fs29.formsite.com/Gd7elL/v32rghhomi/index.html" class="btn-2">Apply</button>
      </form>
  <div class="container">

    {% capture my-include %}{% include apply-year.md %}{% endcapture %}
    {{ my-include | markdownify }}
    <form>
         <button type="submit" formaction="https://fs29.formsite.com/Gd7elL/v32rghhomi/index.html" class="btn-2">Apply</button>
      </form>
  </div>
</div>
