---
layout: default
title: Year 2020-2021
permalink: /year-2020/
---

{% include slider.html photos=site.data.images.year_page.top %}
<div class="row-announcement announcement-banner" align="center">
  {% capture my-include %}{% include announcement.md %}{% endcapture %}
  {{ my-include | markdownify }}
</div>

<div class="main-section summer-seminar-page">
  <div class="container">
    {% capture my-include %}{% include year-2020.md %}{% endcapture %}
    {{ my-include | markdownify }}

  </div>
</div>
