<footer class="page-footer blue-grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <a href="https://www.facebook.com/outercoastsitka/" target="blank">Find us on Facebook</a>
        <a href="https://www.instagram.com/outer.coast/?hl=en" target="blank">Find us on Instagram</a>
      </div>
    </div>
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Further Reading</h5>
        <ul>
          {% for link in site.data.nav.footer %}
            {% if page.title != link.name %}
              <li><a class="white-text" href="{{ site.root }}/{{ link.page }}">{{ link.name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    &nbsp;
    </div>
  </div>
</footer>
