<footer class="page-footer blue-grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Further Reading</h5>
        <ul>
          <li><a class="white-text" href="index.html">Home</a></li>
          <li><a class="white-text" href="about-us.html">About Us</a></li>
          <li><a class="white-text" href="faq.html">F.A.Q.</a></li>
          <li><a class="white-text" href="team.html">Who We Are</a></li>
          <li><a class="white-text modal-trigger" href="#modal1">Contact Us</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    &nbsp;
    </div>
  </div>
</footer>
