<ul id="dropdown1" class="dropdown-content">
  {% for link in site.data.nav.top %}
    {% if page.path != link.page %}
      <li><a href="{{ site.root }}/{{ link.page }}" class="blue-grey-text">{{ link.name }}</a></li>
        <ul>
          {% for entry in item.subfolderitems %}
          <li><a href="{{ entry.url }}" class="blue-grey-text">>{{ entry.subpage }}</a></li>
        {% endfor %}
          <li>
        </ul>
    {% endif %}
  {% endfor %}
</ul>
<nav class="hidden white blue-text">
  <div class="nav-wrapper">

    <ul>
      <li>
        <a href="{{ site.root }}/" class="blue-grey-text brand-logo">Outer Coast</a>
      </li>
    </ul>

    <ul class="right hide-on-med-and-down">
      {% for link in site.data.nav.top %}
        {% if page.title != link.name %}
          <li><a class="blue-grey-text text-darken-2" href="{{ site.root }}/{{ link.page }}">{{ link.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>

    <ul class="right hide-on-large-only">
      <li><a class="blue-grey-text text-darken-2 dropdown-button" href="#" data-activates="dropdown1"><i class="material-icons">toc</i></a></li>
    </ul>
  </div>
</nav>
