<p>
  <div class="row faculty">
    <div class="col s12 m6">
      <img style="height: 20rem;" src="{{ site.imagesurl }}X'unei in class.jpg" alt="X'unei in class">
    </div>
    <div class="col s12 m6">
      <img style="height: 20rem;" src="{{ site.imagesurl }}Students clapping in game.jpg" alt="Students clapping in game">
    </div>
    <div class="col s12 m12">
      <img style="height: 20rem;" src="{{ site.imagesurl }}Team with buckets.jpg" alt="Team with buckets">
    </div>
  </div>
</p>
