<p>
  <div class="row faculty">
    <div class="col s12 m6">
      <img style="height: 20rem;" src="{{ site.imagesurl }}semester_service.png" alt="Students perform community service">
    </div>
    <div class="col s12 m6">
      <img style="height: 20rem;" src="{{ site.imagesurl }}semester_self_governance.jpg" alt="Students engaged in self governance discussion">
    </div>
    <div class="col s12 m12">
      <img style="height: 20rem;" src="{{ site.imagesurl }}semester_program_group.jpg" alt="Students on a hike">
    </div>
  </div>
</p>
