<div class="slider">
  <ul class="slides">
    <li>
      <img src="images/adams/4.jpg">
      <div class="caption right-align">
        <span class="content">&copy; Ben Adams</span>
      </div>
    </li>
    <li>
      <img src="images/poulson/2.jpg">
      <div class="caption right-align">
        <span class="content">&copy; James Poulson</span>
      </div>
    </li>
    <li>
      <img src="images/rock/1.jpg">
      <div class="caption right-align">
        <span class="content">&copy; Kendall Rock</span>
      </div>
    </li>
    <li>
      <img src="images/wilber/5.jpg">
      <div class="caption right-align">
        <span class="content">&copy; Berett Wilber</span>
      </div>
    </li>
    <li>
      <img src="images/poulson/7.jpg">
      <div class="caption right-align">
        <span class="content">&copy; James Poulson</span>
      </div>
    </li>
    <li>
      <img src="images/sfac/1.jpg">
      <div class="caption right-align">
        <span class="content">&copy; Sitka Fine Arts Camp</span>
      </div>
    </li>
    <li>
      <img src="images/wilber/4.jpg">
      <div class="caption right-align">
        <span class="content">&copy; Berett Wilber</span>
      </div>
    </li>
    <li>
      <img src="images/poulson/12.jpg">
      <div class="caption right-align">
        <span class="content">&copy; James Poulson</span>
      </div>
    </li>
    <li>
      <img src="images/adams/3.jpg">
      <div class="caption right-align">
        <span class="content">&copy; Ben Adams</span>
      </div>
    </li>
  </ul>
</div>
