<p>
  <div class="row faculty">
    <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}ALPS.png" alt="ALPS">
    </div>
    <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Aklitho.png" alt="Aklitho">
    </div>
    <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Credit Union 1.png" alt="Credit Union 1">
    </div>
    <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}LFS.png" alt="LFS">
  </div>
     <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Ludvig's.png" alt="LFS">
  </div>
     <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Lynden.png" alt="LFS">
  </div>
     <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}NAC.png" alt="LFS">
  </div>
     <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}NPS.png" alt="LFS">
  </div>
     <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Rotary.png" alt="LFS">
  </div>
     <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}SCT.jpg" alt="LFS">
  </div>
     <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}SEARHC.png" alt="LFS">
  </div>
     <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Saltchuk.png" alt="LFS">
  </div>
     <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Seaplanes.png" alt="LFS">
  </div>
     <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Sitka Rose Gallery.png" alt="LFS">
  </div>
     <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Sitka Vision Clinic.png" alt="LFS">
  </div>
     <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Spenard.png" alt="LFS">
  </div>
     <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Sitka Woman's Club.png" alt="LFS">
  </div>
     <div class="col s12 m6">
      <img style="height: 3rem;" src="{{ site.imagesurl }}White's Inc.png" alt="LFS">
  </div>
</p>
