<p>
  <div class="row">
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}ALPS.png" alt="ALPS">
    </div>
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Credit Union 1.png" alt="Credit Union 1">
    </div>
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}LFS.png" alt="LFS">
    </div>
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Aklitho.png" alt="AK litho">
    </div>
</div>
 <div class="row">
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Ludvig's.png" alt="ludvigs">
    </div>
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}NAC.png" alt="NAC">
    </div>
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}NPS.png" alt="north pacific">
    </div>
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Sitka Rose Gallery.png" alt="sitka rose gallery">
    </div>
</div>
 <div class="row">
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Rotary.png" alt="rotary">
    </div>
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Saltchuk.png" alt="saltchuk">
    </div>
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Seaplanes.png" alt="seaplanes">
    </div>
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}SEARHC.png" alt="searhc">
    </div>
</div>
 <div class="row">
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}SCT.jpg" alt="sitka charitable trust">
    </div>
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Sitka Vision Clinic.png" alt="sitka vision">
    </div>
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}Sitka Woman's Club.png" alt="sitka women">
    </div>
   <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}White's Inc.png" alt="whites pharmacy">
    </div>
</div>
</div>
 <div class="row">
    <div class="col m3 s2">
      <img style="height: 3rem;" src="{{ site.imagesurl }}spenards.png" alt="spenards">
    </div>
    <div class="col m4">
    </div>
    <div class="col m4">
    </div>
</div>
</p>
