<p>
  <div class="row faculty">
    <div class="col s12 m6">
      <img style="height: 20rem;" src="{{ site.imagesurl }}ALPS.png" alt="ALPS">
      <br><em>Faculty X̱'unei Lance Twitchell</em>
    </div>
    <div class="col s12 m6">
      <img style="height: 20rem;" src="{{ site.imagesurl }}Credit Union 1.png" alt="Credit Union 1">
      <br><em>Faculty Sharon Schuman</em>
    </div>
    <div class="col s12 m12">
      <img style="height: 20rem;" src="{{ site.imagesurl }}LFS.png" alt="LFS">
      <br><em>Faculty Ishmael Hope</em>
    </div>
  </div>
  <div class="row faculty">
    <div class="col s12 m6">
      <img style="height: 20rem;" src="{{ site.imagesurl }}ALPS.png" alt="ALPS">
      <br><em>Faculty X̱'unei Lance Twitchell</em>
    </div>
    <div class="col s12 m6">
      <img style="height: 20rem;" src="{{ site.imagesurl }}Credit Union 1.png" alt="Credit Union 1">
      <br><em>Faculty Sharon Schuman</em>
    </div>
    <div class="col s12 m12">
      <img style="height: 20rem;" src="{{ site.imagesurl }}Faculty_Ishmael-Hope.jpg" alt="Ishmael Hope">
      <br><em>Faculty Ishmael Hope</em>
    </div>
  </div>
  <div class="row faculty">
    <div class="col s12 m6">
      <img style="height: 20rem;" src="{{ site.imagesurl }}ALPS.png" alt="ALPS">
      <br><em>Faculty X̱'unei Lance Twitchell</em>
    </div>
    <div class="col s12 m6">
      <img style="height: 20rem;" src="{{ site.imagesurl }}Credit Union 1.png" alt="Credit Union 1">
      <br><em>Faculty Sharon Schuman</em>
    </div>
    <div class="col s12 m12">
      <img style="height: 20rem;" src="{{ site.imagesurl }}Faculty_Ishmael-Hope.jpg" alt="Ishmael Hope">
      <br><em>Faculty Ishmael Hope</em>
    </div>
  </div>
</p>
